body {
  font-family: sans-serif;
}

#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: rgb(239, 240, 240);
}

#container {
  display: flex;
}

#content {
  flex: 1 0 auto;
}

#footer {
  flex-shrink: 0;
}

#logo {
  align-self: center;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.material-icons {
  vertical-align: middle !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cartIcon {
  line-height: unset;
}

.sliderboi {
  padding-bottom: 30px;
}

#view-all-btn {
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.warning {
  padding: 0 0.5em;
  font-size: 1em;
  letter-spacing: 0.1em;
  background-color: orange;
  color: white;
  margin-left: 1em;
}

#logo {
  height: 60px;
  padding-bottom: 10px;
  margin-top: -8px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

#centered-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 1200;
  font-size: 300%;
  color: rgb(62, 112, 158);
}

.image-fade {
  display: block;
  position: relative;
}
.image-fade::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  );
  /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(0, 0, 0, 0.65)),
    color-stop(100%, rgba(0, 0, 0, 0))
  );
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  );
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  );
  /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  );
  /* IE10+ */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  );
  /* W3C */
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
  /* IE6-9 */
}
.product-image {
  display: block;
}

.card-title {
  color: white;
  font-weight: 200;
}

#add-to-cart {
  align-self: flex-start;
  right: 10%; /* new */
  top: 70%; /* new */
  position: absolute; /* new */
}

#price-and-stock {
  align-self: flex-start;
  left: 10%; /* new */
  top: 70%; /* new */
  position: absolute; /* new */
}
