body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.material-icons {
  vertical-align: middle !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cartIcon {
  line-height: unset;
}

.card-image {
  height: 30em;
  width: 30em;
}
.sliderboi {
  padding-bottom: 30px;
}
.card {
  height: 45em;
  width: 35em;
}

#view-all-btn {
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
